header img{
	border: 1px solid #25C6F2;
	box-shadow: 0px 0px 3px 0px  black;
	width: 100px;
	height: 100px;
	margin-left: 30px;
	margin-top: 20px;
	border-radius: 100px; 
}

#content{
	border: 1px solid #25C6F2;
	box-shadow: 0px 0px 3px 0px  black;
}

#logo{
	width: 80%;
	display: inline-block;
}

#users{
width: 19%;
display: inline-block;
}

#nameuser {
	margin-left: 50px;
	margin-bottom: 10px;
	text-align: center;
	width: 80px;
	height: 80px;
	border: 1px solid #D7F0F0; 
	background-color: #D7F0F0;
	border-radius: 50px;
}



#close{
	margin-left: 35px;
}
a{
	margin-bottom: 17px;
	display: inline-block;
	padding: 5px;
	background-color:#216579; 
	color: white;
	border:1px solid #4444;
	border-radius: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;

}
p{
	margin-top: 30px;
	text-align: center;
	font-size: 15px;
	color: #9EA3A3;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	color: #9EA3A3;
	top:10px; 
	left: 350px;
}